{
    "shop" : {
        "currency": "INR",
        "language": "en",
        "weightUnit": "kg"
    },   
    "catalog": {
        "product": {
            "image": {
                "thumbnail": {
                    "width": 100,
                    "height": 100
                },
                "listing": {
                    "width": 300,
                    "height": 300
                },
                "single": {
                    "width": 500,
                    "height": 500
                }
            }
        },
        "showOutOfStockProduct": true
    },
    "system": {
        "theme": "eve",
        "extensions": [
            {
                "name": "productComment",
                "resolve": "extensions/productComment",
                "enabled": true,
                "priority": 10 
            }
        {
                "name": "list_prodocts_horizontal",
                "resolve": "extensions/list_prodocts_horizontal",
                "enabled": true,
                "priority": 2
            }
        ]
    }
}
